@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding:0;
    margin:0;
    border:0
}

html{
    height: 100%;
}

body{
    background-color: #F3F5FC;
    height: 100%;
}

header{
    margin: 1%;
    width: 7.5rem;
    justify-content: left;
}

main{
    gap: 8rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    padding: 0 15%;
}

.left__div__texto{
    outline: 0;
    background-color: #F3F5FC;
    font-family: "inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-top: none;
    color:  #0A3871;
    height: 80%;
    width: 90%;
    scroll-padding: 10%;
    display: flex;
    align-items: start;
}

.info {
    display: flex;
    gap: 30%;
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
}

textarea::placeholder{
    font-family: "inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-top: none;
    color:  #0A3871;
    
}

.inserir__botoes {
    display: flex;
    align-items: start;
    gap: 5%;    
    padding: 4% 0;
    width: 100%
    
}

.inserir__botoes button {
    border-radius: 24px;
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 220px; 
    height: 60px; 
    cursor: pointer;
}

.inserir__botoes__botao1 {
    background-color: #0A3871;
    color: #FFFFFF;
}

.inserir__botoes__botao2 {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 2px solid #0A3871;
}

.right__div{
    flex: 1;
    background-color: #FFFFFF;
    padding: 30px;
    padding-top: none;
    scroll-padding: 10%;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 0 3% 0;
}

.right__div__imagem{
    width: 60%;
    height: auto;
    padding: 5px; 
}

.right__div__mensagem{
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
    margin-top: 20px;
    text-align: center;
}

.right__div__texto{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #495057;     
    margin-top: 20px;
    text-align: center;
}

.div__botao__copiar{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    margin-top: auto; 
    display: none; 
    margin-bottom: 30px;
}

.div__botao__copiar button {
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0A3871;
    padding: 15px 30%;
    border: 2px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
    width: 100%; 
}

.div__botao__copiar button:active {
    background-color: #0A3871;
    color: #ffffff;
}

.div__botao__copiar .div__botao__copiar__botao {
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;
}

footer{
    font-family: "inter", sans-serif;
    font-size: 1rem;
    background-color: #0A3871;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .left__div{
        margin-left: 0; 
        margin-bottom: 0; 
        width: 100%; 
    }

    .right__div__imagem{
        display: none;
    }
    .right__div{
        height: 1rem;

    }
}

@media(max-width: 500px){
    header{
        padding: 20px 0 50px 0;
    }
    
    .left__div__texto{
        height:50%;
        margin: 30% 0 0 0;
    }

    .right__div{
        width: 90%;
        height: 10%;
    }
    
    .left__div{
        height: 70%;
        margin-left: 0; 
        margin-bottom: 0; 
        width: 100%; 
    }

    .left__div .inserir__botoes{
        flex-direction: column;
        gap: 0.5rem; 
        width: 100%;
    }
    .left__div .inserir__botoes button{
        width: 90%; 
        padding: 15px;
    }
}

