@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding:0;
    margin:0;
    border:0
}

body{
background-color: #F3F5FC;
}

header{
    margin: 1%;
    width: 7.5rem;
    justify-content: left;
}

main{
    gap: 10rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    padding: 0 15%;
}

.left__div__texto{
    outline: 0;
    background-color: #F3F5FC;
    font-family: "inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-top: none;
    color:  #0A3871;
    height: 80%;
    width: 90%;
    scroll-padding: 10%;
}

.info {
    display: flex;
    
    gap: 30%;
}

textarea::placeholder{
    font-family: "inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-top: none;
    color:  #0A3871;
    
}

.right__div{
    background-color: #FFFFFF;
    border-radius: 32px;
    width: 35rem;
}

.inserir__botoes {
    display: flex;
    align-items: center;
    gap: 5%;    
    padding: 20px;
    width: 100%
    
}

.inserir__botoes button {
    border-radius: 24px;
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    width: 220px; /* Largura ajustada para refletir a imagem */
    height: 60px; /* Altura ajustada para refletir a imagem */
    outline-color: #0A3871;
    border: 2% #0A3871;
}

.inserir__botoes__botao1 {
    background-color: #0A3871;
    color: #FFFFFF;
}

.inserir__botoes__botao2 {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 2% #0A3871;
    outline-color: #0A3871;
}

footer{
    background-color: #0A3871;
    font-family:"inter", sans-serif;
    color: #FFFFFF;
    padding: 10px;
    text-align: center
}
